html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + (70 - 16) * ((100vw - 300px) / (1600 - 300)));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

body {
  margin: 0;
  padding: 0;
  color: #222;
  line-height: 1.4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3 {
  margin: 0 0 0.35em;
}

@media screen and (min-width: 320px) {
  h1 {
    font-size: calc(16px + (100 - 16) * ((100vw - 300px) / (1600 - 300)));
  }

  h2 {
    font-size: calc(16px + (80 - 16) * ((100vw - 300px) / (1600 - 300)));
  }

  h3 {
    font-size: calc(16px + (70 - 16) * ((100vw - 300px) / (1600 - 300)));
  }
}
@media screen and (min-width: 1000px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 28px;
  }
}

p {
  margin: 0 0 1.15em;
}

p + h2 {
  margin-top: 1.5em;
}

p[data-item="text"] {
  text-indent: 2em;
}

div[data-item="container"] {
  display: flex;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
}

img {
  max-width: 800px;
  margin: auto;
}

@media screen and (min-width: 320px) {
  span[data-item="caption"] {
    font-size: calc(16px + (24 - 16) * ((100vw - 300px) / (1600 - 300)));
  }
}
@media screen and (min-width: 1000px) {
  span[data-item="caption"] {
    font-size: 16px;
  }
}

span[data-item="caption"] {
  opacity: 0.8;
  text-align: center;
  width: 800px;
  position: relative;
  top: 4px;
  display: inline-block;
  margin: auto;
}

p[data-item="list"] {
  text-align: left;
}

span[data-item="highlight"] {
  color: #b53a15;
}

ul {
  list-style-type: none;
  padding-inline-start: 15px;
}

li {
  margin-bottom: 10px;
}

.divider {
  margin: auto;
  margin-bottom: 20px;
}
